# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/TS8P/v14/.suo
.vs/TS8P/v15/.suo
*.db
*.opendb
*.ipch
*.pdb
*.log
*.tlog
*.idb
*.vcxproj
*.ilk
*.iobj
*.ipdb
